#heading {
    color: goldenrod;
}

.header-container {
    display: flex;
    justify-content:space-between;
    border: 1px solid black;
}

.app-logo{
    width: 150px;
}


.nav-items > ul{
    display: flex;
}

.nav-items > ul > li{
    font-size: 20px;
    display: flex;
    padding: 10px;
    margin: 0px 30px 0px 0px;
}

.restaurant-card{
    width: 200px;
    height: 400px;
    padding: 5px;
    margin: 5px;
}

.restaurant-logo{
    height: 150px;
    width: 100%;
}

.search-conatiner{
    padding: 10px;
}

h4 {
    margin: 10px;
}

.restaurant-card:hover{
    cursor: pointer;
    border: 1px solid black;
}

.restaurantcard-container{
    display: flex;
    flex-wrap: wrap;
}

.filter-container{
    margin:20px;
}

.filter-btn{
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-restcard{
    width: 200px;
    height: 400px;
    padding: 5px;
    margin: 5px;
    background-color: #f0f0f0; 
 
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes shimmer{
    from {
        transform: translateX(-200%);
    }
    to{
        transform: translateX(200%);
    }
}
  
@keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 80%);
    }
    100% {
      background-color: hsl(200, 20%, 95%);
    }
}

.btnLogin{
    margin-right: 15px;
    cursor: pointer;
}


.menu-container {
    max-width: 800px;
    min-height: 800px;
    margin: 30px auto 0;
}

.link-restro
{
    text-decoration:none;
    color: black
}

.link-restro-card
{
    text-decoration:none;
    color: black
}

.link-restro:hover{
    color: goldenrod;
}

.menu-item{
    width: 500px;   
    height: 20px;
    padding: 70px;
    margin: 5px;
    list-style-type: none;
}

.divider-line
{
    border-bottom: 0.5px solid #d3d3d3;
    height: 0.5px;
    padding: 5px;
}

.footer-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }